# Node
node_modules/
dist/
*.log
npm-debug.log*
.env
.env.local

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/*.iml
mobile/.idea/
mobile/android/.gradle/
mobile/ios/Pods/
mobile/ios/.symlinks/

# OS
.DS_Store
Thumbs.db

# OSRM data (large binary files, don't commit)
backend/docker/osrm-data/*.osrm*
backend/docker/osrm-data/*.pbf

# Docker volumes
pgdata/
redisdata/
